<!DOCTYPE HTML>
<html>

<head>
    <title>Telewire Analytics</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}" />
</head>

<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="{{ url_for('index') }}">Telewire Analytics - Connetwork</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('login') }}" class="button">Sign in</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <section id="main" class="container">
            <header>
                <h2>Telewire Analytics</h2>
                <p>"Revolutionize Your Networking Strategy with Telewire Analytics's Accurate Analysis and Reliable Predictions"</p>
            </header>
            <div class="box">
                <span class="image featured"><img src="{{ url_for('static',filename='images/globe.jpg') }}" alt=""></span>
                <h3 style="text-align: center;">About us</h3>
                <p style="text-align: center;"><b>"Unleash the full potential of your networking with our cutting-edge AI and data science solutions. Our expertly crafted tools and techniques empower your business to optimize operations, reduce costs, and drive growth. With our innovative approach, you can stay ahead of the competition and achieve new levels of success. Get ready to transform your networking with our game-changing solutions." </b></p>

                <p style="text-align: center;"><b>To achieve this, we use a range of cutting-edge services, tools, and technologies, including:</b></p>
                    <p style="text-align: justify;"><b>Data Collection and Storage Services:</b> We utilize powerful tools to collect and store large amounts of network data in real-time.<br><br>

                    <b>Data Preprocessing and Cleaning Tools:</b> We use tools such as Pandas, NumPy, and Scikit-learn to preprocess and clean the collected data to ensure its accuracy and reliability.<br><br>

                    <b>Predictive Modeling and Machine Learning Algorithms:</b> We utilize state-of-the-art machine learning algorithms such as Random Forest, Gradient Boosting, and Neural Networks to create predictive models that help our clients anticipate future network trends.<br><br>

                    <b>Web App Development Tools and Frameworks:</b> Our web app is built using modern web development tools and frameworks such as Flask, React, and Bootstrap, which enable us to provide an intuitive and user-friendly interface for our clients.<br><br>

                    We are committed to delivering high-quality and reliable network analysis and prediction services to help our clients make informed business decisions. Contact us today to learn more about how we can help you unlock the power of network analysis and prediction for your business.
                </p>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer" style="padding: 2em 0 1em 0 !important;">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; 2023 Telewire Analytics, Inc. All rights reserved.</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.dropotron.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

</body>

</html>
