<!doctype html>
<html lang="en">

<head>
    <title>Telewire Analytics - Connetworks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css')}}" />

</head>

<body class="is-preload" class="img js-fullheight" style="background-image: {{ url_for('static',filename='images/pic03.jpg')}}">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="{{ url_for('index') }}">Telewire Analytics - Connetwork</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('login') }}" class="button">Sign IN</a></li>
                </ul>   
            </nav>
        </header>

        <section class="ftco-section" style="padding: 3em 0;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Register</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="login-wrap p-0">
                            <form method=post action="/register" class="signin-form">
							<div class="form-group">
								<input id="username" placeholder="Username" class="form-control" name="username" required type="text" value="" min="4" max="10" autofocus>
							</div>
							<div class="form-group">
								<input id="email" placeholder="Email" class="form-control" name="email" type="email" value="" required autofocus
>
							</div>
							<div class="form-group">
								<input id="password" placeholder="Password" class="form-control" name="password" type="password" value="" required autofocus
>
							</div>
							<div class="form-group">
								<input id="confirm" placeholder="Confirm Password" class="form-control" name="confirm" required type="password" value="" autofocus
>
							</div>
							<div class="form-group">
								<button type="submit" value=Register class="form-control btn btn-primary submit px-3">Register</button>
							</div>
						</form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer" style="padding: 2em 0 1em 0 !important;">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; 2023 Telewire Analytics, Inc. All rights reserved.</li>
            </ul>
        </footer>
    </div>

    <script src="{{ url_for('static',filename= 'js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename= 'js/popper.js')}}"></script>
    <script src="{{ url_for('static',filename= 'js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename= 'js/main.js')}}"></script>

</body>

</html>

