<!DOCTYPE HTML>
<html>

<head>
    <title>Telewire Analytics</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css')}}" />
</head>

<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="{{ url_for('index') }}">Telewire Analytics - Connetwork</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="{{ url_for('dashboard') }}">Home</a></li>
                    <li><a href="{{ url_for('prediction_table') }}">Predict Anomaly</a></li>
                    <li><a href="{{ url_for('upload_csv') }}" class="button">Add Dataset</a></li>
                    <li><a href="{{ url_for('login') }}">Logout</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <section id="main" class="container">
            <header>
                <h2>Upload CSV</h2>
                <p>Easily test and predict network abnormalities by uploading your CSV file with our intuitive file upload feature.</p>
            </header>

            <div class="row">
                <div class="col-12">

                    <!-- Form -->
                    <section class="box">
                        <h3>Form</h3>
                        <form method="post" action='/upload_csv' enctype="multipart/form-data">
                            <div class="row gtr-uniform gtr-50">
                                <div class="col-6 col-12-narrower">
                                    <input type="file" id="human" name="file" title="Insert your file" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" autofocus required>
                                    <label for="human">Upload CSV FILE</label>
                                </div>
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" value="upload" />Upload CSV FILE </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <!--

						<form method="post" action='/manualdata' enctype="multipart/form-data">
							<button style="padding: 20px 20px;width: 100%;font-size: 20px;" type="submit" value="manualdata">
								Upload Manual Data</button>
						</form>
-->


                        <hr />
                    </section>

                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer" style="padding: 2em 0 1em 0 !important;">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; 2023 Telewire Analytics, Inc. All rights reserved.</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.dropotron.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.scrollex.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/browser.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/breakpoints.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/util.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>

</body>

</html>
